*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.fundo{
    background-image: url("../img/fundo.png");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: -1;
}

.container{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 80px 80px 80px;
    border-radius: 10px;
}


/* Menu */

.menu ul{
    display: flex;
    padding: 5px;
    justify-content: center;
    list-style: none;
    background-color: black;
    color: white;
}

.menu ul li{
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    margin: auto 20px auto 20px;
}

.menu ul li:hover{
    background-color: white;
    color: black;
    transition: 0.2s;
}
.menu ul li a{
    text-decoration: none;
    color: inherit;
}

/* ------------ */

/*Form*/ 

input[type="text"], [type="file"]{
    width: 300px;
}

textarea{
    width: 301px;
    min-width: 301px;
    max-width: 301px;
    field-sizing: content;
    max-height: 200px;
    min-height: 19px;
}

.form label{
    display: block;
    margin: 0 0 10px;
}

/* ------------ */

/* Botões */

.btnSalvar{
    margin-top: 15px;
    padding: 15px;
    font-weight: bold;
    background-color: lightgreen;
    border: 1px solid;
    width: 100px;   
    transition: 0.2s;
    box-sizing: border-box;
}

.btnSalvar:hover{
    color: white;
    background-color: green;
    border-color: black;
    cursor: pointer;
}

.btnLimpar{
    margin-top: 15px;
    padding: 15px;
    font-weight: bold;
    background-color: lightgrey;
    border: 1px solid;
    width: 100px;   
    transition: 0.2s;
    box-sizing: border-box;
    float: right;
}

.btnLimpar:hover{
    color: white;
    background-color: grey;
    border-color: black;
    cursor: pointer;
}

.btnExcluir{
    margin-top: 15px;
    padding: 15px;
    font-weight: bold;
    background-color: lightcoral;
    border: 1px solid;
    width: 100px;   
    transition: 0.2s;
    box-sizing: border-box;
}

.btnExcluir:hover{
    color: white;
    background-color: red;
    border-color: black;
    cursor: pointer;
}

/* VISUALIZAR */

.games-list {
    gap: 20px;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(33.33% - 20px);
    max-width: 600px;
    padding: 20px;
    transition: transform 0.2s;
    min-width: 300px;
}

.game-card:hover {
    transform: scale(1.02);
}

.game-info {
    flex: 1;
    margin-left: 20px;
}

.game-info h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.game-info p {
    margin: 5px 0;
}

.game-info p.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: justify;
    max-height: 125px;
    overflow-y: auto; 
    padding-right: 10px;
}

.game-image {
    flex-shrink: 0;
    width: 150px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
}

.game-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 3px;
}
